.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw
}

.topOptionsContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}

.headerContainer {
    font-size: 3rem;
    margin-bottom: 50px;
}

.inputContainer {
    margin-bottom: 50px;
}

.resultsContainer {
    font-size: 2rem;
}

.errorContainer {
    font-size: 1rem;
    color: red;
}
